.container-fluid{
}

.contentcol{
	background-image: url("background-image.jpg");
	/*background-position: center;*/
	background-size: 100% auto;
	/*background-size: cover;*/
	filter:blur(2px);
	transform: scale(1.05);
	overflow-y: auto;
}

.scrollcol{
	background-color: #23303D;
	overflow: hidden;
}


.bodyrow{
	height: 100vh;
}
