body{
    background: url("/assets/city4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Hind Madurai', sans-serif;
}

.link-image{
    filter: grayscale(100%);
    transition: .5s ease;

}

.link-image:hover{
    filter: grayscale(25%);
}

#page-links{
    
}


#body-content{
    margin-top: 10vh;
}

.card{
    margin-bottom: 10vh;
}

#name-title{
    font-family: 'Lato', sans-serif;
}